<div th:fragment="slider" class="my-2 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Hotels for you</h6>

    <div class="media text-muted pt-3 tm-article">
        <img th:src="@{img/img-01.jpg}" alt="Image" class="mr-2 rounded" style="width: 240px; height: 252px;" >
        <div class="tm-article-pad">
            <header><h3 class="text-uppercase tm-article-title-2">Nunc in felis aliquet metus luctus iaculis</h3></header>
            <p>Aliquam ac lacus volutpat, dictum risus at, scelerisque nulla. Nullam sollicitudin at augue venenatis eleifend. Nulla ligula ligula, egestas sit amet viverra id, iaculis sit amet ligula.</p>
            <a href="#" class="text-uppercase btn-primary tm-btn-primary col-sm-5" style="float: right">Get More Info.</a>
        </div>
    </div>


</div>