<div th:fragment="recommended" class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
  <div class="tm-bg-white">
    <div class="tm-bg-primary tm-sidebar-pad">
      <h3 class="tm-color-white tm-sidebar-title">Recommended Places</h3>
      <p class="tm-color-white tm-margin-b-0 tm-font-light">Enamel pin cliche tilde, kitsch and VHS thundercats</p>
    </div>
    <div class="tm-sidebar-pad-2">
      <a href="#" class="media tm-media tm-recommended-item">
        <img th:src="@{img/img-01.jpg}" alt="Image">
        <div class="media-body tm-media-body tm-bg-gray">
          <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Europe</h4>
        </div>
      </a>
      <a href="#" class="media tm-media tm-recommended-item">
        <img th:src="@{img/img-02.jpg}" alt="Image">
        <div class="media-body tm-media-body tm-bg-gray">
          <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Asia</h4>
        </div>
      </a>
      <a href="#" class="media tm-media tm-recommended-item">
        <img th:src="@{img/img-03.jpg}" alt="Image">
        <div class="media-body tm-media-body tm-bg-gray">
          <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Africa</h4>
        </div>
      </a>
      <a href="#" class="media tm-media tm-recommended-item">
        <img th:src="@{img/img-04.jpg}" alt="Image">
        <div class="media-body tm-media-body tm-bg-gray">
          <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">South America</h4>
        </div>
      </a>
    </div>
  </div>
</div>