
<div th:fragment="search" class="tm-section tm-bg-img" id="tm-section-1">
    <div class="tm-bg-white ie-container-width-fix-2">
        <div class="container ie-h-align-center-fix">
            <div class="row">
                <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                    <form th:action="@{/hotels/list}" method="get" class="tm-search-form tm-section-pad-2">
                        <div class="form-row tm-search-form-row">
                            <!--List of City-->
                            <div  class="form-group tm-form-element tm-form-element-100">
                                <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                                <!--<input name="city" type="text" class="form-control" id="inputCity" placeholder="Type your destination...">-->
                                <label>
                                    <select id="destination" class="form-control tm-select" th:name="destination" required>
                                        <option selected disabled value="">Choose your destination...</option>
                                        <option th:each="city: ${cities}" th:value="${city}" th:text="${city}">Paris</option>
                                    </select>
                                </label>
                            </div>
                            <!-- End List of City-->

                            <div class="form-group tm-form-element tm-form-element-50">
                                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                <input required th:onchange="|compareToday()|" th:name="checkIn"  data-provide="datepicker" name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="Check In">
                            </div>

                            <div class="form-group tm-form-element tm-form-element-50">
                                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                <input required th:onchange="|compareCheckin()|" th:name="checkOut" data-provide="datepicker"  name="check-out" type="text" class="form-control" id="inputCheckOut" placeholder="Check Out">
                            </div>

                        </div>
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select required th:name="adultCount" name="adult" class="form-control tm-select" id="adult">
                                    <option value="">Adult</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select th:name="childCount" name="children" class="form-control tm-select" id="children">
                                    <option value="">Children</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <i class="fa fa-user tm-form-element-icon tm-form-element-icon-small"></i>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select th:name="roomCount" name="room" class="form-control tm-select" id="room">
                                    <option value="">Room</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <i class="fa fa-2x fa-bed tm-form-element-icon"></i>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2">
                                <button type="submit" class="btn btn-primary tm-btn-search">Check Availability</button>
                            </div>
                        </div>
                        <div class="form-row clearfix pl-2 pr-2 tm-fx-col-xs">
                            <p class="tm-margin-b-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="ie-10-ml-auto ml-auto mt-1 tm-font-semibold tm-color-primary">Need Help?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth()+1; //January is 0!
            let yyyy = today.getFullYear();
            let todayDate = mm + '-' + dd+ '-' + yyyy;
            document.getElementById("inputCheckIn").setAttribute("min", todayDate);
        };
        function compareToday() {
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth()+1; //January is 0!
            let yyyy = today.getFullYear();
            let todayDate = mm + '-' + dd+ '-' + yyyy;
            let checkInDate = document.getElementById("inputCheckIn").value;
            if (checkInDate < todayDate) {
                document.getElementById("inputCheckIn").value = todayDate;
            }
            alert(checkInDate);
        }
        function compareCheckin() {
            let checkInDate = document.getElementById("inputCheckIn").value;
            let checkOutDate = document.getElementById("inputCheckOut").value;
            if (checkOutDate < checkInDate) {
                document.getElementById("inputCheckOut").value = checkInDate;
            }
            alert(checkOutDate);
        }

        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
</div>